@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main {
    padding: 32px;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.row2 {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.button__hover {
    cursor: pointer;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
}

img {
    width: 100%;
}

.purple {
    color: #6415ff;
}

.no-border {
    border-style: none;
}

/* Navigation */

nav {
    display: flex;
    align-items: center;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo--wrapper {
    display: flex;
}

.logo {
    display: flex;
    
}

.nav__title {
    font-size: 24px;
    color: #243e63;
    font-weight: bold;
}

.nav__logo {
    height: 32px;
    width: 32px;
    margin-right: 12px;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    color: #243e63;
    font-weight: bold;
    font-size: 14px;
    margin: 0 24px;
}

/*
.nav__underline {
    
}
*/

.nav__underline:hover {
    border-bottom: 2px solid;
    border-color: #6415ff;
    color: #6415ff;
}

.nav__link--primary {
    background-color: #6415ff;
    border-radius: 9999px;
    color: #fff;
    padding: 12px 32px;
    transition-duration: 300ms;
}

.nav__link--primary:hover {
    color: #fff;
    text-decoration: none;
    background-color: #5011cc;
}

.login {
    margin-left: 24px;
}

/* Landing */

header {
    position: relative;
}

.header__container {
    padding: 96px 0;
}

.header__row {
    display: flex;
}

.header__description__left {
    width: calc(100% / 2.5);
}

.header__title {
    font-size: 48px;
    
    --tw-text-opacity: 1;
    color: rgba(26,32,44,var(--tw-text-opacity));
}

.header__para {
    font-size: 18px;
    line-height: 1.5;
    margin: 32px 0;
    color: #243e63;
    
    text-align: left;
}

.header__get__started {
    display: flex;
    align-items: center;
    max-width: 448px;
    position: relative;
}

.header__input {
    border: 2px solid #e5e7eb;
    border-radius: 9999px;
    padding: 20px 0 20px 32px;
    font-weight: 500;
    font-size: 16px;
    color: #243e63;
    width: 100%;
}

.header__button {
    background-color: #6415ff;
    border: none;
    border-radius: 9999px;
    right: 0;
    margin: 8px 8px 8px 0;
    padding: 14px 0;
    width: 160px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: 300ms;
}

.header__button:hover {
    background-color: #3c0d99;
    color: #fff;
}

.header__customers {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 70%;
}

.header__customers__title {
    font-size: 12px;
    color: #a0aec0;
    font-weight: bold;
}

.header__companies {
    margin-top: 16px;
    width: 100%;
    opacity: 0.5;
}

.header__img--wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    max-width: 768px;
}

.header__desk {
    height: auto;
    max-width: 768px;
}

/* Features */

#features {

}

.features__container {
    position: relative;
    padding: 96px 0;
}

.features__row {
    display: flex;
    flex-direction: column;
}

.features__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__title {
    margin-bottom: 16px;
}

.features__span {
    font-size: 16px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    font-weight: bold;
}

.features__subtitle {
    font-size: 48px;
    color: #243e63;
    font-weight: 900;
}

.features__para {
    font-size: 18px;
    color: #7c8ba1;
    line-height: 29.25px;
    text-align: center;
    letter-spacing: normal;
    max-width: 576px;
    margin-top: 16px;
    margin-bottom: 40px;
}

.features__services--wrapper {
    display: flex;
    flex-wrap: wrap;
}

.features__service {
    width: calc(100% / 3);
    padding: 32px 24px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.icon__wrapper {
    border: 1px solid #e5e7eb;
    border-radius: 9999px;
    padding: 20px;
    display: flex;
}

.features__img {
    width: 24px;
    height: 24px;
}

.feature__description--wrapper {
    margin-top: 8px;
    margin-left: 16px;
}

.features__service__title {
    color: #243e63;
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
}

.features__subpara {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #7c8ba1;
}

/* Quality */

.quality__container {
    padding: 96px 0;
}

.quality__row {
    display: flex;
}

.quality__description {
    width: 50%;
}

.quality__title {
    font-size: 16px;
    text-align: left;
}

.quality__subtitle {
    font-size: 48px;
    color: #243e63;
    font-weight: 900;
    margin-top: 16px;
}

.quality__para {
    font-size: 18px;
    line-height: 29.25px;
    text-align: left;
    color: #7c8ba1;
    margin-top: 16px;
    margin-bottom: 40px;
}

.quality__button {
    border: none;
    background-color: #6415ff;
    color: #fff;
    padding: 12px 32px;
    margin: ;
    border-radius: 9999px;
    font-weight: 700;
    transition: 300ms;
}

.quality__button:hover {
    color: #fff;
    text-decoration: none;
    background-color: #5011cc;
}

.quality__img--wrapper {
    width: 50%;
    max-width: 640px;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
}